{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include 'include/header.html' %}


    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Полнометражные</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <!-- <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for movie in movies %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ movie.poster.url }}">
                                        <div class="ep">{{ movie.restrictions }}</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{movie.visitcount}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for i in movie.genres.all %}
                                                <li>{{ i.genre }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href="{% url 'movie-details' movie.id %}">{{ movie.name }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<!-- Product Section End -->
{% include 'include/footer.html' %}
  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
{% endblock %}